@model IEnumerable<StudentDetails.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Student Details</h1>

<p>
    <a asp-action="Create" asp-controller="Home" class="btn btn-outline-danger">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
            Name
            </th>
            <th>
            Gender
            </th>
            <th>
            Email
            </th>
            <th>
            Mobile
            </th>
            <th>
            CourseName
            </th>
            <th>
            Address
            </th>
            <th>
            fees
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                @item.Email
            </td> 
            <td>
                @item.Mobile
            </td>
            <td>
                @item.CourseName
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.fees
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id"
                   onclick="return confirm('Are you sure to edit record?')">Edit</a> |
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id" 
                   onclick="return confirm('Are you sure to delete record?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
